#menuPane{
    -fx-background-image: url("Menu.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#optionPane{
    -fx-background-image: url("Option.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}